<h1>Change the attributes for your landmark below:</h1>

<h3><%=@landmark.name%></h3>
<h2><%=@landmark.year_completed.to_s%></h2>




<form action="/landmarks/<%= @landmark.id%>" method="POST">
  <label>Name: </label>
  <input type="text" name="landmark[name]" id="name">
  <br></br>
  <label>Title ID: </label>
  <input type="text" name="landmark[title_ids]" id="title_id">
  <br></br>
  <label>Year Completed: </label>
  <input type="text" name="landmark[year_completed]" id="year_completed">
  <br></br>
  <input type="submit" value="Edit Landmark">
</form>